* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  background-color: black;
}

.wrapper {
  width: 600px;
  max-height: 50%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  transform: translate(0, 50%);
  flex-wrap: wrap;
}

.hexagon-container {
      filter: none;
}

.hexagon {
  margin: 5px;
  width: 180px;
  height: 180px;
  text-align: center;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background-size: cover;
  background-position: center;
  margin-bottom: -42px;
}

.hexagon-container:hover {
  position: relative;
  transform:scale(1.5);
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 1));
  transition: all 0.5s ease-in-out;
  z-index: 10;
}


/* HEXAGON IMAGES */

.hexagon-container:nth-of-type(1) .hexagon {
  background-image: url("https://images.pexels.com/photos/2325446/pexels-photo-2325446.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}
.hexagon-container:nth-of-type(2) .hexagon {
  background-image: url("https://images.pexels.com/photos/3214958/pexels-photo-3214958.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}
.hexagon-container:nth-of-type(3) .hexagon {
  background-image:url("https://images.pexels.com/photos/3225528/pexels-photo-3225528.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}
.hexagon-container:nth-of-type(4) .hexagon {
  background-image:url("https://images.pexels.com/photos/2387873/pexels-photo-2387873.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}
.hexagon-container:nth-of-type(5) .hexagon {
  background-image: url("https://images.pexels.com/photos/2356045/pexels-photo-2356045.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2")
}
